<?xml version="1.0" encoding="utf-8"?>
<Configuracion  xmlns="schema URL"
   
  RutaReporte="wjVWEAv5bypqbjHOCbXgVl/YX3koHB3jJqcfd+JiIF4sqO+VHVNJSw=="
  ProxyUser="Y/B6ZRPjDypnWkw5LjLv1Q=="
  ProxyPassword="yY4Iv9gGrZ1Rnf0mq3hzMg=="
  ProxyDomain="ydM1ysmqGLc="
  UrlwsReportExecution2005="http://apus/ReportServer/ReportExecution2005.asmx"
  UrlwsControlAcceso="http://apus:80/ControlGestionVS2005/SCAWS/ValidarUsuario.asmx"
  UrlwsSendMail="http://apus/ControlGestionVS2005/SendMail/SendMail.asmx"
  UrlwsNormalizaArchivo="http://apus/ControlGestionVS2010/WSComunes/Archivos.asmx"
  />
